[Unit]
Description=Bluetooth Beacons Scanner Service
After=rfcomm_watch.service pigpiod.service bluetooth.service
Requires=rfcomm_watch.service pigpiod.service bluetooth.service
Wants=rfcomm_watch.service pigpiod.service bluetooth.service

[Service]
Type=simple
User=root
ExecStart=/usr/bin/python3 /usr/local/bin/bluetooth_data_sender.py
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
